body {
    background-color: #e6932e;
}

.ImageSelector .ScrollArea {
    /* border: solid #fb0713; */
    border-color: #e6932e;
}

#sketchLabel {
    margin-top: 50px;
}

#uploadLabel {
    margin-top: 10px;
}

canvas {
    display: inline-block;
    margin-top: 20px;
    height: auto;
    touch-action: none;
}

@media screen and (max-width: 500px) {
    canvas {
        width: 100%;
    }
}

#clear {
    color: white;
}

.ImageSelector {
    margin-bottom: 200px;
}

.canvasBtns {
    margin-top: 10px;
}

#canvasImg {
    margin-top: 10px;
}

.inline {
    display: inline;
}

#loader {
    display: inline-block;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}