body {
    background-color: #e6932e;
}

.ImageSelector .ScrollArea {
    /* border: solid #fb0713; */
    border-color: #e6932e;
}

#sketchLabel {
    margin-top: 50px;
}

#uploadLabel {
    margin-top: 10px;
}

canvas {
    display: block;
    /* position: relative; */
    margin-top: 20px;
    /* width: 100%; */
    height: auto;
}

#clear {
    color: white;
}

.ImageSelector {
    margin-bottom: 200px;
}

.canvasBtns {
    margin-top: 10px;
}

#canvasImg {
    margin-top: 10px;
}